body {
background-image: url("../images/bg.gif");
font-family: "Courier New", Courier, monospace;
color: white;
background-color: white;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  border: 2px solid black;
  background-color: black;
  margin: 2%
}

h2 {
  text-align: center;
  border: 2px solid black;
  background-color: black;
  margin: 5%;
}

p {
  border: 5px solid black;
  background-color: black;
  text-align: center;
  font-size: 25px;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
